

.card-prop{
    background-color: #830000;
}

.collapse-colour:hover{
    background-color: #dadada;
}


/* .gridder{
    grid-column: span 3;
} */

/* @media (max-width: 768px){
    .gridder{
        grid-column: span 3;
    }
} */

.myStyle {
    padding-right: 30px;
    padding-left: 30px;     
}
/* .tagHeight{
    height : 60px;
} */


.myname{
    /* text-align: center; */
    padding-top: 12px;
    margin-left: -2px;
    margin-right: -2px;
    
    line-height: 50px;
    height: 50px;
}

.myname-exception{
    text-align: center;
    padding-top: 10px;
    margin-left: -2px;
    margin-right: -2px;
    height: 47px;
}

.myname:hover {
    color: rgb(9, 105, 218);
    text-decoration-line: underline;
}

#alink{
    text-decoration: none;
}

.mytag{
    justify-content: center;
    text-align: center;
    background: #ddf4ff;
    font-size: 12px;
    font-weight: 600;
    /* line-height: 20px; */
    padding: 3px 10px;
    margin: 3px 0 2px 2px;
    border-radius: 30px;
    display: inline-block; 
    color:rgb(9, 105, 218);
}

.mytag:hover{
    background: rgb(9, 105, 218);
    color:white;
}


.mydate{
    margin: -11px -11px -11px -11px ;
    padding-bottom: 15px;
}



/* @media (max-width: 768px){
    .myname{
        text-align: center;
        padding-top: 10px;
        margin-left: -2px;
        margin-right: -2px;
        height: 47px;
    }
} */

/* .dropdown {
    background-color: rgb(248, 248, 248);
    color: rgb(247, 140, 140);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} */

/* Links inside the dropdown */
/* .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-content div:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {display: block;} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

